@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font1: "Inter", sans-serif;
    --font2: "Noto Serif", serif;

    --gold: rgb(232, 180, 0);
    --olive_brown: rgb(109, 94, 41);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1140px;
    padding: 0;
    background-color: #FFFDF5;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

/* Nav Styles */

nav {
    margin: 60px 100px 54px 0;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: auto;
    width: 135px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.links {
    list-style: none;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: rgba(121, 114, 92, 0.86);
    font-family: var(--font1);
}

.active {
    color: #6D5E29;
}

.cart {
    height: auto;
    width: 22px;
    color: rgb(88, 78, 45);
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 90px;
}

.fresh_flowers {
    font-size: 65px;
    font-weight: bold;
    color: var(--gold);
    font-family: var(--font2);
}

.always {
    color: var(--olive_brown);
}

.banner_description {
    width: 580px;
    margin-top: 12px;
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
    color: rgba(88, 78, 45, 0.72);
}

.banner_image {
    display: block;
    width: 570px;
    border-radius: 0px 0px 10px 0px;
}

/* Our Plants Styles */

.our_plants_header {
    text-align: center;
    width: 830px;
    margin: 0 auto;
}

.our_plants_title {
    font-family: var(--font2);
    font-size: 50px;
    font-weight: bold;
    color: var(--olive_brown);
}

.our {
    color: var(--gold);
}

.our_plants_description {
    
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
    color: rgba(88, 78, 45, 0.89);
    margin-top: 16px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: var(--font1);
    text-align: center;
}

.flower_plants {
    width: 270px;
    height: 323px;
    border-radius: 10px;
    display: block;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    color: rgba(35, 28, 5, 0.83);
    margin-top: 20px;
}

h5 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    color: rgba(35, 28, 5, 0.83);
    margin-bottom: 20px;
}

.add_to_cart {
    width: 100%;
    border: none;
    border-radius: 15px;
    height: 50px;
    margin-bottom: 10px;
    font-weight: 750;
    color: white;
    background-color: var(--olive_brown);
}

/* Styles for Flowers & Plants Lover */

.flower_and_plants_lover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px auto 0 auto;
}

.flower_lover_image {
    width: 540px;
    height: auto;
    border-radius: 15px;
}

h3 {
    width: 540px;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 50px;
    color: var(--olive_brown);
    margin: 0;
    margin-bottom: 20px;
    margin-left: 60px;
}

.flower_lover_description {
    width: 490px;
    margin: 0;
    margin-left: 100px;
    color: rgba(59, 54, 35, 0.63);
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
}

/* Styles for Latest Deals */

.latest_deals {
    margin: 130px auto 0 auto;
    text-align: center;
    width: 1140px;
}

.latest_deals_title {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 50px;
    color: var(--olive_brown);
}

.latest {
    color: var(--gold);
}

.latest_deals_description {
    width: 900px;
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
    color: rgba(59, 54, 35, 0.5);
    margin: 0 auto 120px auto;
    margin-bottom: 100px;
}

.latest_deals_offers {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 230px;
    gap: 30px;
    
}

.latest_deals_link {
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font1);
    margin-top: 5px;
}

.backyard {
    font-size: 28px;
}

.latest_deals_spring {
    background-image: url(/assets/SpringBloom.jpg);
    color: white;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 1.2rem;
}

.latest_deals_indoor {
    background-image: url(/assets/IndoorPlants.webp);
    color: white;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 1.2rem;
}

.latest_deals_backyard {
    background-image: url(/assets/Backyard_Bloom.jpg);
    grid-column: 2;   
    grid-row: 1 / span 2;
    color: white;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 2.5rem;
}

.latest_deals_spring,
.latest_deals_indoor,
.latest_deals_backyard {
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.latest_deals_spring::before,
.latest_deals_indoor::before,
.latest_deals_backyard::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 0;
}

.latest_deals_spring > *,
.latest_deals_indoor > *,
.latest_deals_backyard > * {
    position: relative;
    z-index: 1;
}
