@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font1: "Inter", sans-serif;
    --font2: "Noto Serif", serif;

    --gold: rgb(232, 180, 0);
    --olive_brown: rgb(109, 94, 41);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1140px;
    padding: 0;
    background-color: #FFFDF5;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

/* Nav Styles */

nav {
    margin: 60px 100px 54px 0;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: auto;
    width: 135px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.links {
    list-style: none;
}

.nav_link {
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: rgba(121, 114, 92, 0.86);
    font-family: var(--font1);
}

.active {
    color: #6D5E29;
}

.cart {
    height: auto;
    width: 22px;
    color: rgb(88, 78, 45);
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 90px;
}

.fresh_flowers {
    font-size: 65px;
    font-weight: bold;
    color: var(--gold);
    font-family: var(--font2);
}

.always {
    color: var(--olive_brown);
}

.banner_description {
    width: 540px;
    margin-top: 12px;
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
    color: rgba(88, 78, 45, 0.72);
}

.banner_image {
    display: block;
    width: 570px;
    border-radius: 0px 0px 10px 0px;
}

/* Our Plants Styles */

.our_plants_header {
    text-align: center;
    width: 830px;
    margin: 0 auto;
}

.our_plants_title {
    font-family: var(--font2);
    font-size: 50px;
    font-weight: bold;
    color: var(--olive_brown);
}

.our {
    color: var(--gold);
}

.our_plants_description {
    
    font-family: var(--font1);
    font-size: 22px;
    line-height: 27px;
    color: rgba(88, 78, 45, 0.89);
    margin-top: 16px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-family: var(--font1);
    text-align: center;
}

.flower_plants {
    width: 270px;
    height: 323px;
    border-radius: 10px;
    display: block;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    color: rgba(35, 28, 5, 0.83);
    margin-top: 20px;
}

h5 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    color: rgba(35, 28, 5, 0.83);
    margin-bottom: 20px;
}

.add_to_cart {
    width: 100%;
    border: none;
    border-radius: 15px;
    height: 50px;
    margin-bottom: 10px;
    font-weight: 750;
    color: white;
    background-color: var(--olive_brown);
}